#root {
  margin: 0 auto;
  --amplify-colors-yellow: #ffe079 !important;
  --amplify-colors-yellow-50: #ffc600 !important;
  --amplify-colors-yellow-100: #e3ae0c !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-image: linear-gradient(#ffeeb7, #ffe079, #ffdd62);
}

ul {
  padding-left: 0px;
}